    * {    

    /* box sizing */
        
    box-sizing: border-box;
        
    /* no tap color */
        
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
        
    }

    body {
    font-family: arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    color: #000;
    }

    body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    padding: 0px;
    margin: 0px;
    }

    h1, h2, h3, h4, h5, h6, p {
    line-height: normal;
    }

    ul, ol {
    list-style: none;
    }

    a {
    color: aqua;
    text-decoration: none;
    }

    img, iframe {
    border: 0px;
    display: block;
    }

    input, select, textarea, button {
    -webkit-appearance: none;
    appearance: none;
    }

    table {
    border-collapse: collapse;
    border-spacing: 0;
    }

    /* == align flex == */

    .align {
    position: relative;

    display: -webkit-flex; /* webkit */

    display: flex;
    }              

    .align-start {

    -webkit-justify-content: flex-start; /* webkit */

    justify-content: flex-start;

    }  

    .align-center {

    -webkit-justify-content: center; /* webkit */

    justify-content: center;

    }    

    .align-end {

    -webkit-justify-content: flex-end; /* webkit */

    justify-content: flex-end;

    }    

    .align-top {

    align-items: flex-start;
        
    }  

    .align-middle {

    align-items: center;
        
    }   

    .align-bottom {

    align-items: flex-end;

    }     

    .align-space {

    -webkit-justify-content: space-around; /* webkit */

    justify-content: space-around;

    }       

    .align-space-b {

    -webkit-justify-content: space-between; /* webkit */

    justify-content: space-between;

    }   